@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

 
#title{
    font-family: 'Playfair Display', serif;
}
#new{
    margin-left: 3%; 
} 
#categ, #sports,#tshirt, #shirt{
    color: rgb(0, 72, 121);
    margin-left: 3%;
}
.icon{
    height: 20px
}
#popular{
    width: 90vw; 
    font-family: 'Aleo', serif;
}
.carousel-caption{
    color: white!important;
}
.card{
    width: 100%!important;
}
.view-btn{
    margin-left: 8%;
}
 
a{
    text-decoration: none;
}

a#link {
    margin-top: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  a#link:hover {
    color: #B01EFF;
  }
  
  .button {
    cursor: pointer;
    width: 250px;
    height: 85px;
    background: white;
    border-radius: 50px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    animation: gradient 2.5s infinite 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) forwards;
    margin: 20px auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    font-size: 28px;
    color: white; 
  }
  
  @keyframes gradient {
    0% { background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%) }
    10% { background: linear-gradient(90deg, #d53369 0%, #daae51 100%) }
    20% { background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%) }
    30% { background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%) }
    40% { background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%) }
    50% { background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%) }
    60% { background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%) }
    70% { background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%) }
    80% { background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%) }
    90% { background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%) }
    100% { background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%) }
  }
.explore{
    width: 15%;
    margin-left: 4%;
}

.footer{
    background-color: rgb(53, 50, 50);
    color: white;
    display: flex;
    flex-direction: column;
}
.footer .contact{
    padding-top: 4%;
    font-size: 18px; 
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
}
.footer .contact .lin-k{
    border-bottom: 1px solid;
    margin: 2%;
}
.footer .social-media{
    display: flex;
    justify-content: space-around;
    margin: 2%;
}
.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
}